<div><h1>Projects</h1>
    <ol>
        <li><a href="/tribute">Tribute Page</a></li>
        <li><a href="/portfolio">Portfolio Page</a></li>
        <li><a href="/quotemachine">Random Quote Machine</a></li>
        <li><a href="/localweather">Show Local Weather</a></li>
        <li><a href="wiki">Wikipedia Viewer</a></li>
    </ol>
</div>